<!--
 * @Descripttion: 
 * @version: 
 * @Author: sueRimn
 * @Date: 2020-01-29 23:18:52
 * @LastEditors  : sueRimn
 * @LastEditTime : 2020-01-30 14:30:51
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .red {
      color: red;
    }

    .blue {
      color: blue;
    }
  </style>
</head>

<body>
  <div id="test">
    你好,{{content}}<br>{{content}}<br>{{content}}
    <span>{{description}}</span>
    <input type="text" v-model="obj.x" v-on:keydown="enter">{{obj.x}}
    <ul>
      <li v-for="key in list">
        <p>姓名 {{key.name}} 年龄 {{key.age}}</p>
      </li>
    </ul>

    <span :class="haha">哈哈哈</span><br />
    <span :class="{blue: obj.y >= 2}">哈哈哈</span>
  </div>

  <script type="module">
    import Due from "./core/index.js";
    window.test = new Due({
      el:'test',
      data:{
        content: 'chris',
        description: 'chris is cool',
        obj: {
          x:1,
          y:2
        },
        list: [
          {name:'chris',age:18},
          {name:'zy',age:17}
        ],
        haha:'red'
      },
      methods:{
        enter:function(){
          console.log('hello',this);
        }
      },
      created(){
        console.log('created');
      }
    })
  </script>

  
</body>

</html>